<h2>Sign Up</h2>

<i class="fa fa-times exit-signup"></i>

<%= form_for :user, url: user_registration_path, method: :post, html: { :id => "header-signup-form" } do |f| %>

    <%= f.text_field :first_name, autofocus: true, placeholder: "first name" %>
    
    <%= f.text_field :last_name, autofocus: true, placeholder: "last name" %>

    <%= f.email_field :email, autofocus: true, placeholder: "email" %>

    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
    
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>

    <%= f.submit "Sign up" %>
<% end %>