<!DOCTYPE html>
<html>
<head>
  <title>Pitch It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "the_pitch.png" %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Damion">
</head>
<body <%= "class=user-logged-in" if session[:user_id] %> <%if session[:user_id]%> id='<%= session[:user_id] %>' <% end %> >
  <div class="overlay"></div>
  <div class="sign-up-box"><%= render 'users/new' %></div>


  <header>
    <%= render 'layouts/navbar' %>
  </header>

<div class="container page-body">
  <%= yield %>
</div>

</body>
</html>
