<!DOCTYPE html>
<html>
<head>
  <title>PitchIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= "class=user-logged-in" if 9==9 %>>
  <div class="overlay"></div>
  <div class="sign-up-box"><%= render 'users/new' %></div>


  <header>
    <%= render 'layouts/navbar' %>
  </header>


<div class="container page-body">
  <%= yield %>
</div>

</body>
</html>
